{% extends "master.html" %}

{% block title %}
My Tennis Club - List of all members
{% endblock %}


{% block content %}

<p><a href="/">HOME</a></p>

<h1>All member</h1>

<ul>
  {% for x in mymembers %}
  <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
  {% endfor %}
</ul>

<h1>Young member</h1>

<ul>
  {% for x in mymembers %}
  {% if x.age < 20 %} <li><a href="details/{{x.id}}">{{ x.firstname }} {{ x.lastname }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<h1>Adult member</h1>

<ul>
  {% for x in mymembers %}
  {% if x.age >= 20 %}
  <li><a href="details/{{x.id}}">{{ x.firstname }} {{ x.lastname }}</a></li>
  {% endif %}
  {% endfor %}

  {% endblock %}